.main-header {
  overflow: hidden;
  background-color: whitesmoke;
}
.header {
  margin: 20px;
  display: flex;
  justify-content: center;
}
.logo {
  width: 40%;
}
@media (max-width: 750px) {
  .logo {
    width: 60%;
  }
}
.main-body {
  background-color: whitesmoke;
}

.image-div {
  display: flex;
  justify-content: center;
}
.profile-image {
  border-radius: 50%;
  width: 200px;
}
.text {
  text-align: center;
}
.p1 {
  margin: 0;
  padding: 0;
  font-size: 18px;
  color: grey;
}
.h1 {
  margin: 0;
  padding: 0;
  font-size: 35px;
}
@media (max-width: 550px) {
  .h1 {
    font-size: 25px;
  }
  .logo {
    width: 80%;
  }
}
.main-writeup {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.main-writeup h2 {
  text-align: center;
  color: darkcyan;
}
.sub-writeup {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin: 0;
  padding: 0;
}
.sub-writeup2 {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin: 0;
  padding: 0;
}
@media (max-width: 600px) {
  .sub-writeup,
  .sub-writeup2 {
    display: block;
  }
}
@media (max-width: 720px) {
  .sub-writeup,
  .sub-writeup2 {
    flex-wrap: wrap;
  }
  .skill,
  .education,
  .profile,
  .contact {
    width: 90% !important;
    border-bottom: 1px solid grey !important;
  }
  .main-writeup h2 {
    text-align: left !important;
    color: darkcyan;
  }
}
.skill,
.education,
.profile,
.contact {
  width: 40%;
  padding: 0;
  margin: 10px;
}
.profile a {
  color: blue;
  text-decoration: none;
}

.footer {
  color: 'white';
  text-align: center;
  padding: 20px;
  margin: 20px 0;
  border-top: 1px solid grey;
}
